@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/mulish-v1-latin-regular.woff2") format("woff2"), url("../fonts/mulish-v1-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/mulish-v1-latin-300.woff2") format("woff2"), url("../fonts/mulish-v1-latin-300.woff") format("woff");
}

@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/mulish-v1-latin-500.woff2") format("woff2"), url("../fonts/mulish-v1-latin-500.woff") format("woff");
}

@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/mulish-v1-latin-700.woff2") format("woff2"), url("../fonts/mulish-v1-latin-700.woff") format("woff");
}

html {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  scroll-behavior: smooth;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Arial", "sans-serif";
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.site__content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 20px;
}

.header__control {
  display: none;
}

.header__control .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 135px 80px;
}

.menu__button {
  margin-left: auto;
}

.header__content .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 135px 80px;
}

.site__logo {
  margin-right: 30px;
  min-width: 160px;
}

.site__nav {
  margin-left: auto;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav__item + .nav__item {
  margin-left: 40px;
}

.nav__link {
  text-decoration: none;
  font-size: 18px;
  line-height: 23px;
  color: #1F1534;
  opacity: 0.5;
  white-space: nowrap;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.nav__link:hover {
  opacity: 1;
}

.nav__link--active {
  opacity: 1;
}

@media (max-width: 900px) {
  .header__control {
    display: block;
  }
  .header__control .container {
    position: relative;
  }
  .header__content {
    display: none;
  }
  .header__control .site__nav {
    position: absolute;
    z-index: 1;
    top: 55%;
    right: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    display: none;
    padding: 15px;
    background-color: #fff;
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
            box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  }
  .site__nav--display-block.site__nav--display-block {
    display: block;
  }
  .header__control .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__control .nav__item {
    text-align: right;
  }
  .nav__item + .nav__item {
    margin-left: 0;
    margin-top: 20px;
  }
  .header__control--nojs .site__nav {
    position: static;
    width: 100%;
    display: block;
    margin-top: 20px;
    -webkit-transform: none;
            transform: none;
  }
  .header__control--nojs .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 500px) {
  .header__control .container {
    padding: 30px 10px;
  }
  .header__control .site__nav {
    top: 70%;
    right: 10px;
    -webkit-transform: none;
            transform: none;
  }
  .site__logo {
    width: 30px;
  }
}
/*# sourceMappingURL=main.css.map */