.site__header .container {
  display: flex;
  align-items: center;
  padding: 135px 80px;
}

.site__nav {
  margin-left: auto;
}

.nav__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav__item+.nav__item {
  margin-left: 40px;
}

.nav__link {
  text-decoration: none;
  font-size: 18px;
  line-height: 23px;
  color: var(--black-text-color);
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.nav__link:hover {
  opacity: 1;
}

.nav__link--active {
  opacity: 1;
}